body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#menu-appbar a{
  text-decoration: none;
  color: black;
}
.header_menu_button a{
  text-decoration: none;
  color: white;
}

.main_container{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

/* ======= Pagination ========== */
.pagination {
  margin: 55px auto;
  display: flex;
  justify-content: center;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #1976D2 ;
  border-color: #1976D2 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #1976D2 ;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
  background-color: #1976D2 ;
  border-color: #1976D2;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #1976D2
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

/* ========= Auth ======== */
.Auth_main{
  width: 800px !important;
  text-align: center;
  margin: 0 auto;
  box-shadow: 2px 2px 10px 2px #eceaea;
  border-radius: 7px;
  margin-top: 30px;
  padding: 40px 50px;
}
.Auth_background img{
  width: 100%;
  margin-top: 80px !important;
}
.Auth_main h3{
  text-align: start;
  margin-left: 30px;
}
.Auth_main a{
  color: black;
}
.Auth_background_login img{
  width: 100%;
  margin-top: 40px !important;
}

/* ============ Dashboard ========= */
.dashboard_home div>div:hover{
  background-color: #f7f1f1;;
  cursor: pointer;
}
.dashboard_sidebar a{
  text-decoration: none;
  color: black;
}
.dashboard_product_main{
  text-align: center !important;
  box-shadow: 2px 2px 10px 2px #eceaea;
  margin-left: 20px !important;
  margin-top: 20px !important;
  padding: 30px 0px !important;
}
.dashboard_product_design{
  margin-top: 30px !important;
}
.dashboard_catagory_background img{
  width: 100%;
  height: 400px;
  margin-top: 0px !important;
}
.dashboard_catagory_form{
  transform: translateY(50%);
  margin-top: 50px !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  height: 40px;
  width: 218px !important;
}

/* ========== PROFILE PICTURE =========== */

.profile_picture{
  margin-left: 30px;
  transform: translateY(-70%);
  margin-bottom: -100px;
}
.profile_model_picture{
  width: 400px;
  transform: translate(37%,10%);
  margin-bottom: 100px;
  margin-left: 120px;
}
.profile_model_button button{
  color: white;
}
.profile_model_button svg{
  color: white;
}
.profile_edit{
  height: 400px;
  width: 100%;
  /* background-color: rgb(214, 210, 210); */
  overflow-y: scroll;
}

/* ========== SWIPER SLIDER ============ */
.swiper {
  width: 80%;
  height: 260px;
  margin-top: 30px;
  margin-right: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
  background-color: #fff !important;
}

/* =========== HOME ============= */
.home{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home_column_one{
  width: 63%;
}
.home_discount{
  width: 400px;
  height: 260px;
  border-radius: 10px;
  margin-top: 30px;
  border: 1px solid salmon;
}
.home_discount p{
  background-color: #FFEDD5;
  margin: 0 !important;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

/* ========= BLOG ========== */
.blog_profile_picture{
  text-align: center;
  transform: translateY(-60%);
  margin-bottom: -50px;
}
.blog_content{
  text-align: center;
}
.blog_main input{
  width: 90%;
  height: 20px;
  margin-top: 10px;
  padding: 10px;
  /* margin-right: 20px; */
  border-radius: 20px;
  border: 1px solid gray;
}
.post-input{
  border: none;
}

textarea:focus, input:focus{
  outline: 0;
}
textarea{
  font-family: 'Courier New', Courier, monospace;
  width: 500px;
  resize: none;
}
.post-card:hover{
  background-color: #f7f7f7;
  cursor: pointer;
}
.post-card:first-child{
  margin-left: 30px;
}
.showBox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.hideBox{
  display: none;
}
.showSent{
  display: block;
}
.hideSent{
  display: none;
}